* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: rgb(39, 39, 39); */
}



body {
    scroll-behavior: smooth;
}
 /* Hearder */
header {
    position: fixed;
    height: 60px;
    top: 0;
    background-color: rgb(27, 24, 19);
    box-shadow: 0 3px 50x black;
    width: 100%;
    /* z-index: 1000; */
}

header * {
    text-decoration: none;
}

.nav-bar {
    padding-right: 15px;
    padding-left: 15px;
}

.navdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo a {
    font-size: 35px;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    display: inline-block;
    font-size: 20px;
    color: white;
}

/* Main */

.body-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: crimson; */
}

.img-bg {
    border-radius: 100px 100px 100px 100px;
    margin-left: 100px;
}

.main-section {
    /* margin-right: 100px; */
    margin-top: 60px;
    color: white;
    font-size: 30px;
    background-image: url(/assets/laptop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    /* z-index: 1; */
}

.bg-img {
    width: 100%;
    /* height: 100vh; */
    /* background-image: url('https://images.unsplash.com/photo-1612838326824-4b3b3b3b3b3b'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    /* z-index: -3; */
}

/* Head-section */
.head-section {
    margin-right: 50px;
    margin-top: 100px;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.head-section p {
    color: transparent; /* Make text transparent */
    background-image: linear-gradient(to bottom, #ffffff 0%, #051575 98%); /* Use background-image for gradient */
    background-clip: text; /* Clip the background to the text */
    /* -webkit-background-clip: text; For WebKit browsers */
    font-size: 30px; 
}


.contact-info { 
    border: 10px solid transparent;
    /* padding: 15px; */
    /* margin: auto; */
    border-image: url() 30 stretch;
    border-image-slice: 30;
    background-color: green;
}

.fa {
    text-decoration: none;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    margin: 10px;
}



.btnn {
    background-color: rgb(110, 108, 108);
    border-radius: 15px;
    color: blue;
    padding: 12px 10px;
    font-size: 20px;
    cursor: help;
    width: 20%;
}

.btnn:hover {
    background-color: rgb(15, 82, 18);
    color: white;
    transition: 0.5s;
}

.footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(71, 67, 67);
    color: white;
    padding: 1em;
}

.footer-div p {
    margin-right: 10px;
    background-color: transparent;
    color: white;
}

.p-section img {
    height: 50px;
}

.list-section {
    background-color: rgb(22, 21, 21);
}

.p-section h3 {
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: underline rgb(27, 24, 19);
}

.p-section div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-section h3 {
    text-transform: uppercase;
    text-decoration: underline;
}

.news-section img {
    height: 30px;
    border-radius: 20px;
}

#project-card {
    background-color: #ffffff;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.logo-container a img {
   border-radius: 20px;
}